<main class="movies-list">
  <h1>映画一覧</h1>
  <%= form_with method: :get do |form| %>
    <%= form.submit "Search" %>
    <%= form.text_field :keyword, value: params[:keyword] %>
    <%= form.radio_button :is_showing, "", checked: @isCheckedAll %>
    <%= form.label :is_showing_, "全て" %>
    <%= form.radio_button :is_showing, "1", checked: @isChecked1 %>
    <%= form.label :is_showing_1, "公開中" %>
    <%= form.radio_button :is_showing, "0", checked: @isChecked0 %>
    <%= form.label :is_showing_0, "公開予定" %>
  <% end %>
  <div class="movies-table">
    <% @movies.each do |movie| %>
      <div class="movie-content">
        <img src="<%= movie.image_url %>" width="100%" height="150px" />
        <h2><%= movie.name %></h2>
        <p><%= movie.year %>年公開</p>
        <p><%= movie.description %></p>
      </div>
    <% end %>
  </div>
</main>